@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .svg-bg {
    background-color: #000918;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23b01e18' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d31a0e' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23be3726' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23da341c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23cc5133' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23e24d29' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23db6a41' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23e96737' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23e9844e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f08145' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23f79d5c' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }

  .space {
    margin-top: 150px;
  }

  .icon {
    @apply text-white text-4xl cursor-pointer;
  }

  .subtext {
    font-size: 18px;
  }

  .split-header {
    font-size : 24px;
  }

  .pay-green {
    color: #1A936F
  }

  .pay-primary {
    color: #1A936F
  }

  .pay-secondary {
    color: #b0413e
  }

  .pay-primary-light {
    background-color: #546A7b
  }

  .item-card {
    color: #000000;
    background-color: #F5F5F5;
  }

}
